root = true

[*]
indent_style = tab
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{typ,md,yml,paige}]
indent_style = space
indent_size = 2
end_of_line = lf

[*.cs]
# C# Coding Conventions
dotnet_diagnostic.IDE0055.severity = warning

# Organiser les usings
dotnet_separate_import_directive_groups = continental
dotnet_sort_system_usings_first = true

# Style des accolades
csharp_preserve_static_layout_with_block = true
csharp_style_expression_bodied_methods = true:suggestion
csharp_style_expression_bodied_constructors = true:suggestion
csharp_style_expression_bodied_operators = true:suggestion
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_expression_bodied_accessors = true:suggestion
csharp_style_expression_bodied_lambdas = true:suggestion
csharp_style_expression_bodied_local_functions = true:suggestion
