# Handle line endings automatically for files detected as text
# and leave binary files untouched.
* text=auto

# MS Office files are binary
*.docx binary
*.pdf binary
*.dotx binary

# Source code files
*.cs text eol=crlf
*.csproj text eol=crlf
*.sln text eol=crlf

# Typst and other text files
*.typ text eol=lf
*.md text eol=lf
*.gitignore text eol=lf
